player-connection-mode=Listen
player-connection-guid=3692283021
player-connection-debug=0
player-connection-project-name=BallsOfDoom3
player-connection-ip=172.16.10.103
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=882d29b60b4b4eb2b0f16f6fc83c51e3
